.media {
  position: relative;
  padding: 5%;
  background-color: #ffffff;
  color: #000000;
}
.myPic {
  width: 90%;
  display: block;
  margin: auto;
}

.linktoAboutMe {
  border: none;
  position: relative;
  text-decoration: none;
  color: #000000;
}
.linktoAboutMe:hover {
  color: #000000;
  text-decoration: none;
}

.linktoAboutMe:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: -10px;
  border: 1px solid #000000;
}
